*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.user-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 background-color: #f8f9fa;
 /* box-shadow: 0 0 10 px rgba(0,0,0,0); */

}
 .user-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px 12px;
  box-shadow: 0 2px 5px;
  margin-top: 30px;
 }
 .user-card {
  padding: 55px 55px;
  border: 1px solid #ddd;
  background: #f8f9fa;
  box-shadow: 0 2px 5px;
  text-align: center;
  width: 100%;
  text-decoration: none;
 }
 .username {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 55px;
 }
 .user-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 25px;
 }

 .user-actions button {
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
 }
 .edit-btn {
  background-color: #007bff;
  
 }
 .edit-btn:hover{
  background-color: darkblue;
 }
 .delete-btn {
  background-color: red;
  
 }
 .delete-btn:hover {
  background-color: darkred;
 }
.add-user-btn {
  background-color: #007bff;
  color: #fff;
  padding: 15px 25px;
  margin-top: 25px;
  cursor: pointer;
}
.add-user-btn:hover{
  background-color: darkblue;
}
.form-container {
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 25px;
 margin: 30px auto;
 border: 1px solid #ccc;
 box-shadow: 1px 4px 8px;
width: 100%;
}
.form-container h2 {
  justify-content: center;
  display: flex;
  margin-bottom: 18px;
  font-size: 35px;
  width: 100%;
}
.form-container label {
  width: 100%;
  padding: 5px;
  font-weight: 700;
  margin-top: 5px;
  display: block;
}
.form-container input {
  width: 100%;
  padding: 15px 40px;
  margin-top: 5px;
  border: 1px solid ;
}
.form-container button {
  margin-top: 25px;
  width: 245px;
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
}
.form-container button:hover{
  background-color: darkblue;
}
@media (max-width: 480px) {
  .user-card {
     padding: 15px;
     width: 100%;
  }

  .username {
     font-size: 18px;
     margin-bottom: 30px;
  }

  .user-actions {
     gap: 15px;
  }

  .add-user-btn {
     padding: 12px 20px;
  }

  .form-container h2 {
     font-size: 25px;
  }

  .form-container input, .form-container button {
     padding: 12px 25px;
     font-size: 14px;
  }
}